<div class="container">
  <h2>Liste des Voitures</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Marque</th>
      <th>Modèle</th>
      <th>Année</th>
      <th>Prix</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let voiture of voitures">
      <td>{{ voiture.id }}</td>
      <td>{{ voiture.marque }}</td>
      <td>{{ voiture.modele }}</td>
      <td>{{ voiture.annee }}</td>
      <td>{{ voiture.prix | currency:'EUR' }}</td>
      <td>
        <button (click)="modifyVoiture(voiture.id!)" class="btn btn-primary">Modifier</button>
        <button (click)="deleteVoiture(voiture.id!)" class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
